.Scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0;
  overflow: scroll;

  li {
    width: 80%;
    list-style: none;
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

.NewGame {
  color: yellow !important;
  font-size: 2em;
}
