@keyframes rainbow-colors {
  0%     { color: #ff0000; }
  8%     { color: #ff8000; }
  16%    { color: #ffff00; }
  25%    { color: #80ff00; }
  33%    { color: #00ff00; }
  41%    { color: #00ff80; }
  50%    { color: #00ffff; }
  58%    { color: #0080ff; }
  66%    { color: #0000ff; }
  75%    { color: #8000ff; }
  83%    { color: #ff00ff; }
  91%    { color: #ff0080; }
  100%   { color: #ff0000; }
}

.Scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 75vh;
    overflow: scroll;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  li {
    width: 80%;
    list-style: none;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .NewGame {
    p {
      animation: rainbow-colors 5s infinite;
      font-size: 2em;
    }
  }
  
}
