.Game {
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
    width: 90%;
    background: lightblue;

    .Legs {
      margin-bottom: 0;
    }
    
    div {
      margin-bottom: 1em;
    }

  }
}
