.Header {
  display: grid;
  grid-template-columns: 20% 1fr 20%;


  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-icon {
    width: 3em;
    height: .5em;
    background: black;
    margin: .2em;
  }

  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    width: 70%;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
  }

}
